/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label,legend, hr, table, caption, tbody, tfoot, thead, tr, th td {
	margin: 0;
	padding: 0;
	outline: 0;
	border: none;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquotes, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after { content: ''; }
/*--- Remember to define :focus styles !*****/
:focus { outline: 0; }
/*--- Tables still need "cellspacing = 0", in the markup ----*/
table {
	border-collapse: collapse;
	border-spacing: 0;
}
